{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">

                    <div class="card">
                        <!-- Imagen de la tarjeta -->
                        <div class="card-imagen">
                            {% if ad.image  %}
                                <img src="{{ ad.image.url }}" alt="{{ ad.title }}">
                                
                            {% else %}
                                <div class="sin-imagen">
                                    Not image
                                </div>
                            {% endif %}
                        </div>
                        
                        <!-- Información de la tarjeta -->
                        <div class="card-info">
                            <div class="card-titulo">
                                {{ ad.title }}
                            </div>
                            
                            <div class="card-categoria">
                                {{ ad.category }}
                            </div>
                            
                            <div class="card-descripcion">
                                {{ ad.description }}
                            </div>
                            
                            <div class="card-precio">
                                {{ ad.price }}
                            </div>
                            
                            {% if ad.date %}
                                <div class="card-fecha">
                                    📅 {{ ad.date|date:"d/m/Y" }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

    </div>
    
{% endblock %}
